/* page elements hello */
	body { 
		font-family: Calibri, sans-serif;
		font-size: 1em;
		background: url(Background_Light_Tile_Smaller.jpg) #241b20 repeat fixed;
		}

	img.banner {
		width: 75%;
		margin: 2em 0 2em 0;
		}

	img.portrait {
		width: 20%;
		position: relative;
		float: left;
		margin: 1em;
		margin-right: 2em;
	}

	img.socials {
		width: 5%;
		max-width: 50px;
		height: 5%;
		max-height: 50px;
		margin: .5em;
	}

  	/* top banner container */
	  .bannercontainer {
		max-width: 450px;
		min-width: 200px;
		width: 50%;
		display: inline;
		float: left;
		margin: -1em 0 -5em -2em;
		}

	/* mid-level column */
	.content-column-wrapper {
		width: 95%;
		min-height: calc(100vh);
		margin: -1em auto 0 auto;
		background: rgba(255, 235, 245, 0.5);
		}

	/* foreground column container */
	.content-column {
		box-sizing: border-box;
		width: 90%;
		min-height: calc(100vh);
		margin: 0 auto;
		background: rgba(255, 255, 255, 0.75);
		}

	/* navigation menu and flex box*/
	.flex-container {
		width: 100%;
		margin: 0 auto;
  		flex-wrap: nowrap;
  		background-color: rgba(255, 235, 245, 0.5);
  		}

	div.flex-container > a {
		color: rgb(112, 78, 95);
		text-decoration: none;
		display: inline;
		float: right;
		width: 12%;
		text-align: center;
		line-height: 2em;
		transition: .3s ease-in-out;	
		}

	div.flex-container > a:hover {
		background-color: rgba(255, 255, 255, 0.5); 
	}

	/* card with drop shadow */
	.cardwrapper {
		position: relative;
		}

	.cardimage {
		width: 70%;
		max-width: 500px;
		max-height: 375px;
		opacity: 1;
		transition: .5s ease;
		backface-visibility: hidden;
			-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
			-webkit-transition-duration: 0.2s;
		box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
		margin-left: 0 auto;
		}

	/* 	caption div container */
	.caption {
		box-sizing: border-box;
		width: 100%;
		background: white;
		padding: 1em;
		}

/* text elements */
	.center-align {
		text-align: center;
		}

	.left-align {
		text-align: left;
		}

	p {
		overflow: hidden;
		font-size: 1.25em;
		padding: 1em;
		padding-left: ;
		margin: 0;
		color: #1a1a1a ;
		}

	h1 {
		padding: .5em;
		margin: 0;
		font-size: 3em;
		}

	h2 {
		margin-top: 0;
		font-size: 1.5em;
	}

	a {
		color: rgb(192, 102, 147);
		text-decoration: none;
		text-transform: lowercase;
		}

	a:hover {
		color: rgb(218, 141, 179);
		}


